<div class="section">
    <div class="our-service padding-top padding-bottom">
        <div class="container">
            <div class="our-service-wrapper">
                <div class="sunhouse-title">
                    <div class="icon-image"><img src="~/assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--   i.icon-mail_box--></div>
                    <h2 class="main-title">our service</h2>

                </div>
                <div class="row">
                    <div class="our-service-content">
                        <div class="col-md-4">
                            <div data-wow-delay="0.2s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-house_sell"></i></div>
                                <p class="name">Driver Service</p>

                                <p class="text">Say goodbye to rigid processes and inflated costs. Enjoy newfound speed, flexibility, safety and cost savings.</p>
                                <a href="@Url.Action("GetJob",new {@IsParent = ViewBag.IsParent,@type =  1})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div data-wow-delay="0.45s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-rent"></i></div>
                                <p class="name">Babysitter Service</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                <a href="@Url.Action("GetJob",new {@IsParent = ViewBag.IsParent,@type =  2})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div data-wow-delay="0.7s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-house_2"></i></div>
                                <p class="name">Tutor service</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                <a href="@Url.Action("GetJob",new {@IsParent = ViewBag.IsParent,@type =  3})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>