<div class="section">
    <div class="our-service padding-top padding-bottom">
        <div class="container">
            <div class="our-service-wrapper">
                <div class="sunhouse-title">
                    <div class="icon-image"><img src="~/assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--   i.icon-mail_box--></div>
                    <h2 class="main-title">our service</h2>

                    <p class="sub-title">Psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
                <div class="row">
                    <div class="our-service-content">
                        <div class="col-md-3">
                            <div data-wow-delay="0.2s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-house_sell"></i></div>
                                <p class="name">Sale Service</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div data-wow-delay="0.45s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-rent"></i></div>
                                <p class="name">Renting Service</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div data-wow-delay="0.7s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-house_2"></i></div>
                                <p class="name">Property Management</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div data-wow-delay="0.95s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class="icon-wrapper"><i class="icon-our-service icon-brush"></i></div>
                                <p class="name">Free Market Analysis</p>

                                <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>