
@{
    ViewBag.Title = "GetWorkerJob";
}

<div class="why-use-block">
    <h2 class="block-title">Why Use BE.ME. ?</h2>
    <div class="why-use-block__text">
        BE.ME. provides the safest and most reliable rides and care. We’re trusted by
        families and schools because of our safety, transparency and reliability standards.
    </div>

    <div class="why-use-block__items">

        <div class="why-use-block__item">
            <div class="why-use-block__item-img-wrap">
                <img src="~/Content/Images/safety.svg" class="why-use-block__item-img">
            </div>
            <div class="why-use-block__item-title">SAFETY</div>
            <div class="why-use-block__item-text">
                Drivers are fingerprinted &amp; must pass FBI, DOJ and DMV background
                checks.
            </div>
        </div>

        <div class="why-use-block__item">
            <div class="why-use-block__item-img-wrap">
                <img src="~/Content/Images/transparency.svg" class="why-use-block__item-img">
            </div>
            <div class="why-use-block__item-title">TRANSPARENCY</div>
            <div class="why-use-block__item-text">
                Parents can tracks rides in real time. Prior to the ride, parents can
                view the driver’s profile.
            </div>
        </div>

        <div class="why-use-block__item">
            <div class="why-use-block__item-img-wrap">
                <img src="~/Content/Images/calendar.svg"  class="why-use-block__item-img">
            </div>
            <div class="why-use-block__item-title">RELIABILITY</div>
            <div class="why-use-block__item-text">
                We take pride in our punctuality and our ability to complete all rides
                booked.
            </div>
        </div>

    </div>



</div>